.parametre-container {
  padding: 100px;
  border: 2px solid #f47b06;
  border-radius: 8px !important;
  box-shadow: 0px 0px 10px #777 !important;
}

.parametre-value {
  width: 100%;
}

.deconnexion-button {
  width: 100%;
  max-width: 300px;
  margin-top: 20px !important;
}

.edit-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0.2rem;
  cursor: pointer;
  margin-top: 20px;
}

.edit-icon:hover {
  background-color: #eee;
}

.edit-icon:active {
  background-color: #ddd;
}

.personal-info {
  font-family: "Montserrat", sans-serif !important;
  text-align: center;
  position: relative;
  display: inline-block;
  margin-bottom: 20px !important;
  font-size: 50px !important;
  font-weight: bold !important;
  color: #f47b06 !important;
}
