* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/basketBallDeux.jpg"); /* ajouter votre première image de fond */
  animation: slide 20s linear infinite; /* durée de 20 secondes pour l'animation, et répétition infinie */
  background-size: cover; /* redimensionner l'image pour remplir la taille de la carte */
}

/* définition de l'animation slide */
@keyframes slide {
  0% {
    background-image: url("./assets/basketBallDeux.jpg"); /* afficher la première image */
  }
  20% {
    background-image: url("./assets/basketBallQuatre.jpg"); /* afficher la deuxième image */
  }
  40% {
    background-image: url("./assets/basketBallTrois.jpg"); /* afficher la troisième image */
  }
  /* continuer avec les images suivantes */
  100% {
    background-image: url("./assets/basketBallDeux.jpg"); /* revenir à la première image */
  }
}
